{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="container" id="login">
    {% if error %}
        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% if app.request.query.has('targetUrl') %}
            <input type="hidden" name="targetUrl" value="{{ app.request.query.get('targetUrl') }}" />
        {% endif %}

        <table class="table auto-size">
            <tr>
                <td><label for="username">Name:</label></td>
                <td><input type="text" id="username" name="_username" value="{{ last_username }}" required="required" /></td>
            </tr>
            <tr>
                <td><label for="password">Password:</label></td>
                <td><input type="password" id="password" name="_password" required="required" /></td>
            </tr>
            <tr>
                <td colspan="2" class="submit"><button type="submit" id="_submit" name="_submit">{{ 'security.login.submit'|trans }}</button></td>
            </tr>
        </table>

        {# What to do with the remember me checkbox? #}
        {#<div class="checkbox">#}
            {#<label for="remember_me">#}
                {#<input type="checkbox" id="remember_me" name="_remember_me" value="on" />#}
                {#{{ 'security.login.remember_me'|trans }}#}
            {#</label>#}
        {#</div>#}

    </form>
</div>
{% endblock fos_user_content %}
