{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="page-content">
    <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% if app.request.query.has('targetUrl') %}
            <input type="hidden" name="targetUrl" value="{{ app.request.query.get('targetUrl') }}" />
        {% endif %}

        <table class="table auto-size formular-table">
            <tr>
                <td>Name:</td>
                <td><input type="text" id="username" name="_username" placeholder="{{ 'security.login.username'|trans }}" value="{{ last_username }}" required="required" /></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" id="password" name="_password" placeholder="{{ 'security.login.password'|trans }}" required="required" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit" id="_submit" name="_submit">{{ 'security.login.submit'|trans }}</button></td>
            </tr>
        </table>
    </form>
</div>

<div class="container col-xs-offset-4 col-xs-4">
    {% if error %}
        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <input type="text" id="username" name="_username" placeholder="{{ 'security.login.username'|trans }}" value="{{ last_username }}" required="required" class="form-control" />
            <input type="password" id="password" name="_password" placeholder="{{ 'security.login.password'|trans }}" required="required" class="form-control" />
            {% if app.request.query.has('targetUrl') %}
                <input type="hidden" name="targetUrl" value="{{ app.request.query.get('targetUrl') }}" />
            {% endif %}
            <div class="checkbox">
                <label for="remember_me">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    {{ 'security.login.remember_me'|trans }}
                </label>
            </div>

            <button type="submit" id="_submit" name="_submit" class="btn btn-lg btn-primary btn-block">{{ 'security.login.submit'|trans }}</button>
    </form>
</div>
{% endblock fos_user_content %}
